/*
values
*/
@import '../../../bower_components/angular/angular-csp.css';

@import 'colors';
$blue: #065FA3;

/* styles */
a {
	color: $blue;
}
a:hover {
	text-decoration:none;
	color:$blue;
}
a:visited {
	text-decoration:none;
	color:$primary-color;
}