<ul>
    <li class="google">Google</li>
    <li ng-click="$emit('facebookLoginClick', 'load')" class="facebook">Facebook</li>
    <li class="custom">
        <label for="email">Email</label>
        <input id="email" type="text" placeholder="email"/>
        <label for="password">Password</label>
        <inpyt type="password" id="password" placeholder="password" />
        <input type="password" id="passwordMatch" placeholder="repeat password"/>
        <input type="submit" value="submit"/>
    </li>
</ul>